<style>
    .clustr-container {
        width: 100px; /* Set the desired width */
        height: 100px; /* Set the desired height */
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto
    }
</style>

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-server"></i> Pageviews</h6>
    <div class="px-3 pb-1 clustr-container">
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=DNvclZ4AFb1RpNw_NX6MqtsFtqHVDszjL14dChm0LPc"></script>
    </div>
</div>


