<style>
    .clustr-container {
        max-width: 200px; /* Set the desired width */
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto
    }
    .clustr-container iframe {
        margin: 0 auto;
    }
</style>

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-server"></i> Pageviews</h6>
    <div class="px-3 pb-1 clustr-container">
        <script src="https://revolvermaps2.com/embed.js" data-site="9unf3hzv5nab" data-size="200" data-theme="night" data-color="ffb23f" async></script>
    </div>
</div>
