<style>
    .clustr-container {
        width: 200px; /* Set the desired width */
        height: 200px; /* Set the desired height */
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto
    }
</style>

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-server"></i> Pageviews</h6>
        <div class="row">
            <div class="col">
                <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=386&t=tt&d=DNvclZ4AFb1RpNw_NX6MqtsFtqHVDszjL14dChm0LPc&co=ffffff&ct=808080&cmo=3acc3a&cmn=ff5353'></script>
                <div class="px-3 pb-1 clustr-container">
                    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=DNvclZ4AFb1RpNw_NX6MqtsFtqHVDszjL14dChm0LPc"></script>
                </div>
            </div>   
        </div>
</div>


